{% extends 'base.html' %}
{% load static %}

{% block title %}Search experts{% endblock %}
{% block css %}
{% endblock %}

{% block usersession %}{{ usersession }}{% endblock %}

{% block content %}
    
    <h6 class="mt-sm-4" style="color:slategray;">Your appointment</h6>
    <hr>
    <div class="row">
        {% for appoint in appointmentusrdata %}
            <div class="col-sm-4 my-sm-2">
                <div class="card border border-dark">
                    <div class="card-body">
                        <div class="time-wrap row">
                            <div class="col-4">
                                <strong>{{ appoint.time }}</strong>
                            </div>
                            <div class="col-4" style="font-size:15px;">
                                {{ appoint.date }}
                            </div>
                            {% ifequal appoint.isAccepted 2 %}
                                <div class="col-4 float-right" style="color:yellow;font-size:13px;">
                                    <i class="fas fa-spinner"></i>
                                    <strong>Pending</strong>
                                </div>
                            {% endifequal %}
                            {% ifequal appoint.isAccepted 1 %}
                                <div class="col-4 float-right" style="color:green;">
                                    <i class="fas fa-check"></i>
                                    <strong>Accept</strong>
                                </div>
                            {% endifequal %}
                            {% ifequal appoint.isAccepted 0 %}
                                <div class="col-4 float-right" style="color:red;">
                                    <i class="fas fa-times"></i>
                                    <strong>Deny</strong>
                                </div>
                            {% endifequal %}
                        </div>
                        <div class="message-wrap row">
                            <div class="col-8">
                                <p>{{ appoint.message }}</p>
                            </div>
                            <div class="col-4 float-right">
                                <button class="btn btn-outline-dark btn-sm" type="button" data-toggle="modal" data-target="#appointLocation{{appoint.id}}"><i class="fas fa-map-marker-alt"> Location</i></button>
                            </div>
                        </div>
                        {% ifequal appoint.isAccepted 2 %}
                            <div class="action-wrap row mt-2">
                                <div class="col-6">
                                    <button class="btn btn-success btn-block" onclick="confirmAppoint('{{ appoint.id }}', 1);">Accept</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-danger btn-block" onclick="confirmAppoint('{{ appoint.id }}', 0);">Deny</button>
                                </div>
                            </div>
                        {% endifequal %}
                    </div>
                </div>
            </div>

            <!-- Map Modal -->
            <div class="modal fade mt-md-5" id="appointLocation{{appoint.id}}" tabindex="-1" role="dialog" aria-labelledby="appointLocationLabel{{appoint.id}}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="appointLocation{{appoint.id}}">Location</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">     
                            <div id="appointLocationMap{{appoint.id}}" style="width:100%;height:450px;"></div>
                            <input type="number" class="sr-only" id="appointLat{{appoint.id}}" value="{{ appoint.lat }}"/>
                            <input type="number" class="sr-only" id="appointLng{{appoint.id}}" value="{{ appoint.lon }}"/>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
{% block customjs %}
    <script src="{% static 'js/manageexpertappointment.js' %}"></script> 
    <!-- Map JS -->
    <script>
        function initMap() {
          var appointList = {{ appointList | safe }};
          for(var i = 0; i < parseInt('{{ appointnum }}') ;i++){
            var id = appointList[i];
            var explat = parseFloat(document.getElementById('appointLat' + id).value);
            var explng = parseFloat(document.getElementById('appointLng' + id).value);
            var pos = {lat: explat , lng: explng };
            var map = new google.maps.Map(document.getElementById('appointLocationMap' + id), {
              zoom: 15,
              center: pos
            });
            addMarker(pos, map);
          }
        }
        function addMarker(location, map) {
          var marker = new google.maps.Marker({
            position: location,
            map: map,
            animation: google.maps.Animation.DROP
          });
        }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYHEX1y6T4MaDUeTWrjXJ8a8-XIguVt_A&callback=initMap">
    </script>  
{% endblock  %}